{% extends "layout.html" %}
            {% block body %}
            <div class="container px-5 my-5">
                
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Dashboard</span></h1>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="col-xxl-5">
                        <!-- Modal -->
        <div class="modal fade" id="staticResumeUpload" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Upload Resume</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 <form action = "/upload" method = "post" enctype="multipart/form-data">  
                     <input type="file" name="file" />   
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#affirmation">Save</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <script type="text/javascript">$('.alert').alert()</script>
        <style type="text/css">
        .alert-dismissible {
    padding-right: 1rem;
}</style>


            <!-- Button container -->

            <div class="text-center">
            {% with messages = get_flashed_messages(with_categories = true)   %}  
                {% if messages %}  
                    {% for category, message in messages %}  
<div class="alert alert-{{category}} alert-dismissible text-center" onclick="this.remove();">
  <div class="row">
    <div class="col-md-12">
      <strong>{{message}}</strong> (Click to Dismiss!)
    </div>
  </div>
</div>


                     {% endfor %}  
                {% endif %}  
            {% endwith %} 
                                    <div>
                                    <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="/manageprojects">Manage Projects</a>
                                    </div>
                                    <br>
                                    <div>
                                    <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="/manageresume">Manage Resume</a>
                                    </div>
                                    <br>
                                    <div>
                                    <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" data-bs-toggle="modal" href="#staticResumeUpload">Upload New Resume</a>
                                    </div>
                                    <br>
                                    <div>
                                    <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="/logout">Log Out</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <


            {% endblock %}
