{% extends "layout.html" %}
            {% block body %}
            <div class="container px-5 my-5">

                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Manage Resume</span></h1>
                </div>
                <style type="text/css">
                table {
                    border-collapse: collapse; /* Collapses the borders into a single line */
                    width: 100%; /* Sets the table width to 100% of its container */
                    margin: 0 auto;
                  }
                  
                  /* CSS style for table cells */
                  td, th {
                    border: 2px solid #000; /* Sets a 2px solid
                     black border */
                    padding: 8px; /* Adds some padding around the content */
                    text-align: center;
                  }

                  .button {
                  border: none;
                  color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  margin: 4px 2px;
                  cursor: pointer;
                }

                .button1 {background-color: #0BDA51;} /* Green */
                .button3 {background-color: #FFA500;} /* Yellow */
                .button2 {background-color: #FF0000;} /* Red */
                </style>
                
                        <!-- Modal for Experience Section-------------------------------------------------------------------------------------- -->
                <div class="modal fade" id="staticBackdropExp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Experience</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                         <form id="expform" action = '/add_exp'  method = 'post' novalidate>
                          
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Timeframe:</label>
                            <input type="text" class="form-control" id="timeframe" name = "Timeframe">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Position:</label>
                            <input type="text" class="form-control" id="position" name = "position">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Company:</label>
                            <input type="text" class="form-control" id="company" name = "company">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">City:</label>
                            <input type="text" class="form-control" id="city" name = "city">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name = "description">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>

                
               <!-- Modal for Education Section-------------------------------------------------------------------------------------- -->
                <div class="modal fade" id="staticBackdropEdu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Education</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                         <form id="expform" action = '/add_edu'  method = 'post' novalidate>
                          
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Timeframe:</label>
                            <input type="text" class="form-control" id="timeframe" name = "Timeframe">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">College:</label>
                            <input type="text" class="form-control" id="college" name = "college">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Location:</label>
                            <input type="text" class="form-control" id="location" name = "location">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Degree:</label>
                            <input type="text" class="form-control" id="degree" name = "degree">
                          </div>
                         <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Field:</label>
                            <input type="text" class="form-control" id="field" name = "field">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name = "description">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                      </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                    <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="/dashboard">Dashboard Home</a>
                    <br>
                    <br>
                    <hr>
                    <!-- <h2> Experience List </h2>
                    <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="/manageprojects">Add a Project</a> -->
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                        <!-- Download resume button-->
                        <!-- Note: Set the link href target to a PDF file within your project-->
                        <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" data-bs-toggle="modal"  href="#staticBackdropExp">Add Experience</a> 
                    </div>
                </div>
                <br>
                <div>
                <table>
                  <tr>
                    <th>S.No.</th>
                    <th>Position</th>
                    <th>Company</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  {% if exp_count > 0 %}
                      {% for item in exp %}
                      <tr>
                        <td>{{loop.index}}</td>
                        <td>{{item.position}}</td>
                        <td>{{item.company}}</td>
                        <td><a class="button button3" data-bs-toggle="modal" href="#staticExpShow{{item.sno}}">Show</a></td>
                        <td><a class="button button1"  data-bs-toggle="modal" href="#staticExpEdit{{item.sno}}">Edit</a></td>
                        <td><a class="button button2" href="/exp_del/{{item.sno}}">Delete</a></td>
                      </tr>
                      
                      <div class="modal fade" id="staticExpShow{{item.sno}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Showing ID: {{item.sno}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        
                         <form id="expform"  method = 'post' novalidate>
                          
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Timeframe:</label>
                            <input type="text" class="form-control" id="timeframe" name = "Timeframe" value = "{{item.timeframe}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Position:</label>
                            <input type="text" class="form-control" id="position" name = "position" value = "{{item.position}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Company:</label>
                            <input type="text" class="form-control" id="company" name = "company" value = "{{item.company}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">City:</label>
                            <input type="text" class="form-control" id="city" name = "city" value = "{{item.city}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name = "description" value = "{{item.description}}">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-primary" data-bs-toggle="modal" href="#staticExpEdit{{item.sno}}">Edit</a>
                      </div>
                      </form>
                      
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="staticExpEdit{{item.sno}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Editing ID: {{item.sno}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        
                         <form id="expform" action = '/edit_exp/{{item.sno}}'  method = 'post' novalidate>
                          
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Timeframe:</label>
                            <input type="text" class="form-control" id="timeframe" name = "Timeframe" value = "{{item.timeframe}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Position:</label>
                            <input type="text" class="form-control" id="position" name = "position" value = "{{item.position}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Company:</label>
                            <input type="text" class="form-control" id="company" name = "company" value = "{{item.company}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">City:</label>
                            <input type="text" class="form-control" id="city" name = "city" value = "{{item.city}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name = "description" value = "{{item.description}}">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                      </div>
                      </form>
                      
                    </div>
                  </div>
                </div>
                {% endfor %}

                    {% else %}
                    <tr> 
                        <td colspan="6">Nothing to Show</td> 
                    </tr>
                {% endif %}
                </table>
                </div>

                <!-- Education Table -->
                <br>
                <br>
                <hr>
                <div class="text-center">
                <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Education</h2>
                        <!-- Download resume button-->
                        <!-- Note: Set the link href target to a PDF file within your project-->
                        <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder"  data-bs-toggle="modal" href="#staticBackdropEdu">Add Education</a> 
                    </div>
                </div>
                <br>
                <div>
                <table>
                  <tr>
                    <th>S.No.</th>
                    <th>Institute</th>
                    <th>Degree</th>
                    <th>Show</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  {% if edu_count > 0  %}
                      {% for item in edu %}
                      <tr>
                        <td>{{loop.index}}</td>
                        <td>{{item.college}}</td>
                        <td>{{item.degree}}</td>
                        <td><a class="button button3" data-bs-toggle="modal" href="#staticEduShow{{item.sno}}">Show</a></td>
                        <td><a class="button button1" data-bs-toggle="modal" href="#staticEduEdit{{item.sno}}">Edit</a></td>
                        <td><a class="button button2" href="/edu_del/{{item.sno}}">Delete</a></td>
                      </tr>
                      <div class="modal fade" id="staticEduShow{{item.sno}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Showing ID: {{item.sno}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        
                         <form id="expform"  method = 'post' novalidate>
                          
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Timeframe:</label>
                            <input type="text" class="form-control" id="timeframe" name = "Timeframe" value = "{{item.timeframe}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">College:</label>
                            <input type="text" class="form-control" id="position" name = "position" value = "{{item.college}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Location:</label>
                            <input type="text" class="form-control" id="company" name = "company" value = "{{item.location}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Degree:</label>
                            <input type="text" class="form-control" id="city" name = "city" value = "{{item.degree}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Field:</label>
                            <input type="text" class="form-control" id="city" name = "city" value = "{{item.field}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name = "description" value = "{{item.description}}">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-primary" data-bs-toggle="modal" href="#staticEduEdit{{item.sno}}">Edit</a>
                      </div>
                      </form>
                      
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="staticEduEdit{{item.sno}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Editing ID: {{item.sno}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        
                         <form id="expform" action = '/edit_edu/{{item.sno}}'  method = 'post' novalidate>
                          
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Timeframe:</label>
                            <input type="text" class="form-control" id="timeframe" name = "Timeframe" value = "{{item.timeframe}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">College:</label>
                            <input type="text" class="form-control" id="college" name = "college" value = "{{item.college}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Location:</label>
                            <input type="text" class="form-control" id="location" name = "location" value = "{{item.location}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Degree:</label>
                            <input type="text" class="form-control" id="degree" name = "degree" value = "{{item.degree}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Field:</label>
                            <input type="text" class="form-control" id="field" name = "field" value = "{{item.field}}">
                          </div>
                          <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Description:</label>
                            <input type="text" class="form-control" id="description" name = "description" value = "{{item.description}}">
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" >Save</button>
                      </div>
                      </form>
                      
                    </div>
                  </div>
                </div>
                      {% endfor %}
                {% else %}
                    <tr> 
                        <td colspan="6">Nothing to Show</td> 
                    </tr>
                {% endif %}

                </table>
                </div>
                <!-- Skills Set -->
                <br>
                <br>
                <hr>
                <div class="text-center">
                <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Skills</h2>
                        <!-- Download resume button-->
                        <!-- Note: Set the link href target to a PDF file within your project-->
                        
                    </div>
                </div>
                <br>
                <div>
<style>
    .card {
/*        width: 200px;*/
        margin: auto;
        text-align: left;
        position: relative;
    }

    .card-title {
        margin: 0;
    }

    .card-button {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: #ff0000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        text-decoration: none;
    }
        .card-button-green {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: #0BDA51;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
    }



    


</style>

<section class="py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if skill_count > 0 %}

            {% for item in skill %}
            <div class="col">
                <div class="card mx-4">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <a class="card-button" href="/del/{{item.sno}}">X</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="col">
                <div class="card mx-4">
                    <div class="card-body">
                        <h5 class="card-title">Nothing to show here.</h5>
                    </div>
                </div>
            </div>
        {% endif %}


        <!-- Modal -->
        <div class="modal fade" id="staticBackdropSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 <form id="langform" action = '/add_skill'  method = 'post' novalidate>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Skill:</label>
                    <input type="text" class="form-control" id="skill" name = "skill">
                  </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" >Save</button>
              </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card mx-4">
                <div class="card-body">
                    <h5 class="card-title">Add New Skill</h5>
                    <a class="card-button-green" data-bs-toggle="modal"  href="#staticBackdropSkill">+</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<hr>




                <div class="text-center">
                <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Languages</h2>
                        <!-- Download resume button-->
                        <!-- Note: Set the link href target to a PDF file within your project-->
                        
                    </div>
                </div>
                <br>
                <div>

<section class="py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% if lang_count > 0 %}

            {% for item in lang %}
            <div class="col">
                <div class="card mx-4">
                    <div class="card-body" id = "skill_ID">
                        <h5 class="card-title">{{item.name}}</h5>
                        <a class="card-button" href="/lang_del/{{item.sno}}">X</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
                <div class="col">
                <div class="card mx-4">
                    <div class="card-body">
                        <h5 class="card-title">Nothing to show here.</h5>
                    </div>
                </div>
            </div>
        {% endif %}


        <style>
            .btn-red {
                background-color: red;
                color: white;
            }
        </style>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdropLang" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Language</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 <form id="langform" action = '/add_lang'  method = 'post' novalidate>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Language:</label>
                    <input type="text" class="form-control" id="Language" name = "language">
                  </div>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-red" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" >Save</button>
              </div>
              </form>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card mx-4" >
                <div class="card-body">
                    <h5 class="card-title">Add New Language</h5>
                    <a class="card-button-green" data-bs-toggle="modal" href="#staticBackdropLang">+</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>


                </div>

            {% endblock %}